PORT="6060"

DB_HOST="ms-db"
DB_PORT="5432"
DB_USER="ms-auth"
DB_PASSWORD="ms-auth"
DB_NAME="ms-db"

WAHA_DASHBOARD_USERNAME="admin"
WAHA_DASHBOARD_PASSWORD="admin-password"
WHATSAPP_SWAGGER_USERNAME="admin"
WHATSAPP_SWAGGER_PASSWORD="admin-password"

JWT_SECRET="secret"

WAHA_SERVICE_URL="http://ms-waha-test:3000"
WAHA_API_KEY="waha-api-key"

WAHA_SESSION_NAME="default"
GEMINI_API_KEY="your-gemini-api-key"